{{template "base/head" .}}
<div class="repository new issue cf-issues cf-issues--new">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="cf-issues__toolbar navbar">
			{{template "repo/issue/navbar" .}}
		</div>
		<div class="cf-divider ui divider"></div>
		{{template "repo/issue/new_form" .}}
	</div>
</div>
{{template "base/footer" .}}
